html {
    background-color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
   /* padding: 2em 2em 4em; */
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    /*color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0);*/
}


div {
    margin-left: auto;
     margin-right: auto;
     text-align: center;
     border-radius: 10px;
     padding: 2em 2em 4em;
     background-color: #ffffff;
     box-shadow: 8px 8px 0px #888888;   
     margin-bottom: 5%;
    
}

h2, h3, h4, h5, h6 {  
    vertical-align: middle;
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h1 {
     border-radius: 3px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     font-size: 46px;
     width: 70%;
     padding: .5em;
     background-color: #ffffff;
     box-shadow: 8px 8px 2px #888888;    
}